@import "tailwindcss";

@font-face {
  font-family: "Magedon";
  src: url("/fonts/Magedon.ttf") format("ttf"),
    url("/fonts/Magedon.woff") format("woff");
}

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.magedon {
  font-family: "Magedon";
}
